:root {
  background-color: #fff2e1;
}
/*General Styles*/
* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.filler {
  width: 100%;
  margin: 200px 0 50px 0;
}

.filler2 {
  height: 10vh;
  background: FFF2E1;
}

@media screen and (max-width: 900px) {
  .filler {
    margin-top: 50px;
  }
}

#treat {
  max-width: 100%;
}

main {
  margin: 0 auto 50px auto;
}

h1 {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 42px;
  font-family: "Kalnia";
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  font-family: "Kalnia";
}

h3 {
  text-align: center;
  font-weight: 400;
}

p {
  line-height: 2.5rem;
  margin: 0 auto;
  max-width: 1300px;
  font-size: 22px;
  padding: 0 10px;
}

.sections {
  max-width: 1300px;
  margin: 0 auto;
  background: #fff2e1;
  position: relative;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 28px;
    margin: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 18px;
    line-height: 2rem;
  }
}

/*Navbar Styles*/
.navbar {
  background: #fff2e1;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Kalnia", sans-serif;

  transition: .8s ease;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px; 
  transition: .8s ease;
}

.navbar-logo {
  color: black;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-family: "Kalnia", sans-serif;
}

.navbar-logo:hover {
  color: #a559db;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

#nav-logo {
  width: 50px;
  margin: 0 10px;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: "Kalnia";
}

.nav-links:hover {
  border-bottom: 4px solid #a559db;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
  position: relative;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* Shrink Styles */
.navbar-shrink {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  animation: shrink .2s linear forwards;
  
}

@keyframes shrink {
  from {
    height: 80px;
  max-width: 1500px;
  width: 100%;
  } to {
    height: 60px;
  max-width: 1300px;
  width: 100%;
  }
}
.navbar-shrink .navbar-container {
  animation: navcontshrink .2s linear forwards;
}

@keyframes navcontshrink {
  from {
    width: 1500px;
    height: 80px;
  } to {
    width: 1200px;
    height: 60px;
  }
}

.navbar-shrink .nav-links {
  padding: 0.5rem 0.8rem;
}

@media screen and (max-width: 1024px) {
  .NavbarItems {
    position: relative;
  }

  .resume-button {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  .nav-menu.active {
    background: #fff2e1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background: #a559db;
    color: #fff2e1;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    font-size: 1.6rem;
    top: 0;
    left: 0;
    transform: translate(40%, 35%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #ffd700;
    color: #242424;
    transition: 250ms;
  }
}

/*Hero Style*/
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
}

video {
  /*code extended video to full screen*/
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container {
  height: 100vh;
}

#home-welcome {
  margin: 0;
  animation: fadein 2s;
  position: relative;
  color: #fff;
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#homeLogo {
  display: flex;
  width: 600px;
  margin: 80px auto 0 auto;
  animation: dropandbounce 2.5s linear, spin 5s 2.6s infinite;
  -webkit-animation: dropandbounce 2.5s linear, spin 5s 2.6s infinite;
  perspective: 1000;
  -webkit-perspective: 1000;
  transition: 1s;
}

#send {
  margin-right: 10px;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
    -webkit-transform: rotateY(359deg);
  }
}

@keyframes dropandbounce {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  30% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }

  35% {
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
  }
  40% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  45% {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
  }
  50% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  55% {
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
  }
  60% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 700px) {
  video {
    /*code extended video to full screen*/
    object-fit: cover;
    object-position: 80%;
    width: 100%;
    height: 100%;
    position: fixed;
  }

  #home-welcome {
    margin-top: -100px;
    font-size: 60px;
  }

  #homeLogo {
    width: 80%;
    margin-top: 100px;
    animation: fadein 2s, spin 5s 1.5s infinite;
    -webkit-animation: fadein 2s, spin 5s 1.5s infinite;
    perspective: 1000;
    -webkit-perspective: 1000;
    transition: 1s;
  }
}

/*About Styles*/
.about-container {
  margin-bottom: 100px;
  padding: 0 60px;
}

#about-img {
  display: flex;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border-radius: 12px;
}

.section-container {
  display: flex;
  max-width: 1300px;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.about-info-1,
.about-info-2 {
  display: flex;
  width: 100%;
}

.about-info-container {
  display: flex;
  width: 50%;
}

.about-img-container {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 1230px) {
  .about-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .section-container {
    flex-direction: column;
    margin-top: 100px;
  }

  .about-info-container {
    width: 100%;
  }

  .about-info-1 {
    margin: 25px auto;
  }

  .about-img-container {
    width: 100%;
  }

  .about-info-2 {
    margin-top: -25px;
  }

  #about-img {
    width: 100%;
    height: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    border-radius: 0;
  }
}

/*Carousel Styles*/
.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 1500px;
  margin: 100px auto 0 auto;
}

.carousel-item {
  min-width: 50%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    margin-top: 80px;
  }

  .carousel-item {
    min-width: 100%;
    height: 20%;
    padding: 0;
  }
}

/*Menu Styles*/

#menu {
  padding: 0 60px;
}

.menu-container {
  margin: 200px auto 200px auto;
  background: url(/kaijusgrub/images/pawprints.png),
    url(/kaijusgrub/images/pawprints2.png);
  background-size: contain;
  background-position: left, right;
  background-repeat: no-repeat;
  max-width: 1500px;
  font-family: "Kalnia";
  padding: 100px;
}

.menu-info {
  margin: 50px auto;
  max-width: 1500px;
}

#menu-message {
  font-weight: 400;
  margin-bottom: 25px;
}

@media screen and (max-width: 840px) {
  #menu {
    padding: 0px;
  }

  .menu-container {
    margin: 100px 10px 100px 10px;
    padding: 50px 10px 50px 10px;
    border: 4px dashed black;
    background: none;
  }

  .menu-info {
    margin: 25px auto;
    padding: 0 10px;
  }

  .menu-message {
    line-height: 2rem;
  }
}

/* Menu Card Styles */

.cards {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem;
  font-family: "PT Sans", sans-serif;
}

.cardsItems {
  display: contents; /* ensure that ul doesn't interfere with grid */
}

.cardsItemLink {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.cardItemPicWrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fadeImg {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cardItemPicWrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc(100% - 60px);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #a559db;
  box-sizing: border-box;
}

.cardItemImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s linear;
  border-radius: 4px;
}

.cardItemImg:hover {
  transform: scale(1.1);
}

.cardsItemInfo {
  padding: 20px 30px 30px;
}

.cardsItemText {
  color: black;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
}

.cardsItemText:hover {
  color: #a559db;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 1rem;
  }

  .cardsItem {
    margin-bottom: 2rem;
  }
}

/* Popup styles */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff2e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  border-radius: 16px;
  animation: slideup 0.3s linear;
  -webkit-animation: slideup 0.3s linear;
  perspective: 1000;
  -webkit-perspective: 1000;
  transition: 1s;
  max-height: 80%;
  overflow-y: scroll;
}

@keyframes slideup {
  from {
    top: 80%;
  }
  to {
    top: 50%;
  }
}

.popupContent {
  background: #fff2e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%; /* Adjust width as needed */
  max-width: 500px; /* Maximum width for the popup */
}

.product-img {
  display: flex;
  margin: 25px auto;
  width: 70%;
  border-radius: 8px;
}

.product-desc {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.close-btn {
  position: sticky;
  top: 10px;
  left: 95%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .popup {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background: #fff2e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    border-radius: 16px;
    animation: slideupmobile 0.3s linear;
    -webkit-animation: slideupmobile 0.3s linear;
    perspective: 1000;
    -webkit-perspective: 1000;
    transition: 1s;
  }

  .product-img {
    width: 85%;
  }

  @keyframes slideupmobile {
    from {
      top: 80%;
    }
    to {
      top: 55%;
    }
  }

  .close-btn {
    top: 10px;
    left: 320px;
  }
}

/*Contact Styles*/

#contact {
  padding: 0 60px;
}

.email-form-container {
  display: flex;
  max-width: 1300px;
  margin: 100px auto 0 auto;
  padding-bottom: 100px;
}

.form {
  width: 50%;
  display: flex;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin: 5px 0;
  font-size: 18px;
}

.menu-opt {
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0;
}

.label-cbox {
  display: flex;
  font-size: 18px;
  margin-left: 10px;
  min-height: 1.3rem;
}

.input-cbox {
  display: inline-block;
  vertical-align: middle;
  min-height: 1rem;
  margin-left: 25px;
  margin-right: 15px;
}

#user_name,
#user_email,
select {
  line-height: 2rem;
  border-radius: 4px;
  border: 2px solid black;
  padding: 0 5px;
}

select {
  height: 60px;
}

textarea {
  border-radius: 4px;
  border: 2px solid black;
  padding: 0 5px;
}

.email-btn {
  padding: 10px;
  font-size: 18px;
  display: block;
  margin: 25px auto;
  width: 50%;
  font-family: "Kalnia";
  background: black;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.email-btn:hover {
  background-color: #a559db;
  color: black;
  border: 2px solid black;
  transition: 0.5s;
}

.contact-msg {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.ig-link {
  text-decoration: none;
  color: #a559db;
}

.ig-link:hover {
  color: red;
}

.icons {
  margin: 50px 0;
}

.qrCode {
  display: flex;
  width: 250px;
  border-radius: 28px;
  margin: 50px auto 0 auto;
  border: #a559db solid 2px;
}

@media screen and (max-width: 900px) {
  #contact {
    padding: 10px;
  }

  .email-form-container {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form {
    width: 100%;
    margin-top: 50px;
  }

  .contact-msg {
    width: 100%;
    margin-top: -30px;
  }

  .qrCode {
    width: 200px;
    margin-top: 0;
  }

  .email-btn {
    font-size: 16px;
  }
}

/*Footer Styles*/
.footer {
  background: #fff2e1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  bottom: 0;
  color: black;
  z-index: 999;
  font-family: "Kalnia";
  max-width: 1300px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 100%;
  bottom: 0;
}

.footer-name {
  font-family: "Kalnia", sans-serif;
}

@media screen and (max-width: 960px) {
  .footer {
    text-align: center;
  }
}
